@import "../global/variables.scss";

.card-container {
    min-width: 400px;
    height: 600px;
    // border: 2px solid red;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;

    img {
        width: 100%;
        object-fit: cover;
    }

    strong {
        font-family: $highlight-font;
        font-weight: 500;
        font-size: 1.8rem;
    }

    span {
        color: $font-color1;
        font-size: .9rem;
    }

    p {
        font-size: 1.2rem;
        font-weight: 500;
    }
}